body {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #eee;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.new_container{
    width: 800px;
    padding: 100px 100px 0px 200px;
}
.new_container2{
    width: 1000px;
    padding: 50px 100px 100px 200px;
}
.alert-danger{
    width:500px;
    margin-left: 18%;
    margin-top: 50px;
}
#center{
    margin-left: 25%;
}
#right{
    float: right;;
}
.container_new{
    overflow: hidden;
    word-wrap: break-word;
    max-height: 150px;
    overflow-y: auto;
}
.primary{
    height: 200px;
}
